opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-kafka-python
fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
kafka-python
azure-core
azure-ai-textanalytics
azure-ai-openai
promptflow
promptflow-tools
langchain
langchain-community
langchain-openai
langchain_experimental
llama-index
llama-index-vector-stores-azureaisearch
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
python-json-logger